{# 
    Ce bloc affiche la liste des commentaires d'un article.
    Il affiche le nombre de commentaires, chaque commentaire avec l'auteur, la date et le contenu
#}

<div class="comments-section">
    <h3>Commentaires ({{ article.commentaires|length }})</h3>
    
    {% if article.commentaires|length > 0 %}
        <div class="comments-list">
            {% for comment in article.commentaires %}
                <div class="comment-item">
                    <div class="comment-avatar">
                        {% if comment.auteur.profilePicture %}
                            <img src="{{ asset('images/photoProfile/' ~ comment.auteur.profilePicture) }}" alt="{{ comment.auteur.pseudo }}" class="avatar">
                        {% else %}
                            <div class="avatar-placeholder">
                                {# Affiche les initiales de l'auteur du commentaire a la place de l'image de profil #}
                                {{ comment.auteur.pseudo|split(' ')|map(v => v|slice(0,1)|upper)|join('') }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="comment-content">
                        <div class="comment-header">
                            <span class="comment-author">{{ comment.auteur.pseudo }}</span>
                            <span class="comment-date">{{ comment.datePublication|date('d/m/Y à H:i') }}</span>
                        </div>
                        <div class="comment-text">
                            {{ comment.contenu|nl2br }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-comments">
            <p>Aucun commentaire pour le moment. Soyez le premier à commenter !</p>
        </div>
    {% endif %}
</div>
