
{% block body %}
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% set targetRoute = currentRoute == 'article_user_list' ? 'article_user_list' : 'article_list' %}
    
    <div class="search-container">
        {{ form_start(form, {'method': 'GET', 'attr': {'class': 'search-form'}}) }}
            <div>
                {{ form_widget(form.q, {'attr': {'class': 'search-bar'}}) }}
                {% if currentCategory %}
                    <input type="hidden" name="category" value="{{ currentCategory }}">
                {% endif %}
                <button type="submit" class="search-btn">
                    {{ ux_icon('lucide:search') }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
    <hr>
    <div class="search-filter">
        <ul>
            <li>
                <a href="{{ path(targetRoute, currentSearch ? {'q': currentSearch} : {}) }}" 
                   class="{{ not currentCategory ? 'active' : '' }}">All</a>
            </li>
            {% for category in categories %}
                <li>
                    <a href="{{ path(targetRoute, {'category': category.id} | merge(currentSearch ? {'q': currentSearch} : {})) }}" 
                       class="{{ currentCategory == category.id ? 'active' : '' }}">
                        {{ category.libelle }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
