{# 
    Ce bloc affiche un formulaire de modification du profil utilisateur.
    Il inclut des champs pour l'email, le pseudo et une image de profil.
#}

{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
    
        {{ form_start(form, {'attr' : {'novalidate': 'novalidate', 'data-turbo': 'false','class': 'user-form'}}) }}
        <h1>Bonjour {{ user.pseudo }}</h1>
        {% if user.profilePicture %}
            <img src="{{ asset('images/photoProfile/' ~ user.profilePicture) }}" alt="{{ user.pseudo }}" class="user-profile-image">
        {% else %}
            <div class="avatar-placeholder">
                {# Affiche les initiales de l'utilisateur a la place de l'image de profil #}
                {{ user.pseudo|split(' ')|map(v => v|slice(0,1)|upper)|join('') }}
            </div>
        {% endif %}

        {{ form_label(form.pseudo) }}
        {{ form_widget(form.pseudo, {'attr': {'class':(form.pseudo.vars.errors|length > 0 ? "input-errors" : "")}}) }}
        <div class="p-error">
            {{ form_errors(form.pseudo) }}
        </div>

        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, {'attr': {'class': (form.imageFile.vars.errors|length > 0 ? "input-errors" : "")}}) }}
        <div class="p-error">
            {{ form_errors(form.imageFile) }}
        </div>

        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">
            Enregistrer
        </button>
        {{ form_end(form) }}

    </div>
{% endblock %}
